<%= form_for [:admin, @user], html: {multipart: true,
  class: "form-horizontal style-form"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_type, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.select :user_type, [t("user.admin"), t("user.supervisor"), t("user.trainee")], {},
        {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.submit class: "btn btn-success pull-right" %>
    </div>
  </div>
<% end %>
